public/customer/show
<div class="container-fulled">
  <div class="row mt-5">
    <div class="offset-1">
      <h5><span class="px-3 bg-secondary">マイページ</span></h5>
    </div>
  </div>

  <div class="row mt-4 ">
    <div class="col-1">
      <p><strong>登録情報</strong></p>
    </div>
    <%= link_to "編集する", customers_infomation_edit_path, class:"col-1 btn btn-sm btn-success font-weight-bold" %>
  </div>
  <div class="row">
    <div class="col-6">
      <table class="table table-sm border-top border-bottom borborder-secondary">
        <tbody>
          <tr>
            <td>氏名</td>
            <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-1"><strong>配送先</strong></div>
    <%= link_to "一覧を見る", addresses_path, class: "col-1 btn btn-primary font-weight-bold" %>
  </div>
  <div class="row">
    <div class="col-1"><strong>注文履歴</strong></div>
    <%= link_to "一覧を見る", addresses_path, class: "col-1 btn btn-primary font-weight-bold" %>
  </div>
</div>