admin/items/indexページ
<div class="container">
  <div class="row">
    <div class="col-2 ml-3">
      <h5>商品一覧</h5>
    </div>
    <div class="col-1 ml-auto mr-5">
      <%= link_to new_admin_item_path, class: "btn btn-light btn-outline-dark shadow-lg rounded-pill" do %>
        <h4 class="m-0 p-0 text-dark ">＋</h4>
      <% end%>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <table class="table table-sm table-borderless border-top border-bottom borborder-secondary">
        <thead class="table-secondary ">
          <tr>
            <th style="width: 10%">商品ID</th>
            <th style="width: 30%">商品名</th>
            <th style="width: 10%">税抜価格</th>
            <th style="width: 30%">ジャンル</th>
            <th style="width: 20%">ステータス</th>
          </tr>
        </thead>
        <% @items.each do |items| %>
          <tbody class="">
            <tr>
              <td><%= items.id %></td>
              <td>
                <%= link_to admin_item_path(items.id), class: "text-dark" do %>
                  <%= items.name %>
                <% end %>
              </td>
              <td><%= items.price.to_s(:delimited) %></td>
              <td><%= items.genre.name %></td>
              <td><%= items.is_active ? "販売中" : "販売停止中" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <%= paginate @items %>
    </div>
  </div>
</div>