admin/items/newページ
<div class="container">
  <!-- 商品新規登録フォーム-->
  <%= form_with model: @item do |f| %>
    <h3>商品新規登録</h3>
    <div class="form-group ">
      <label for="item-image">商品画像</label>
      <div>
        <%= f.file_field :item_image, placeholder: "ファイルを選択", accept: "image/*", class:"col-6 form-container-file item_image" %>
      </div>
    </div>
    <div class="form-group">
      <label for="item_name">商品名</label>
      <%= f.text_field :name, autofocus: true, class: "form-control name" %>
    </div>
    <div class="form-group">
      <label for="item_introduction">商品説明</label>
      <%= f.text_area :introduction, autofocus: true, class: "form-control introduction" %>
    </div>
    <div class="form-group">
      <label for="item_genre">ジャンル</label>
      <!-- ジャンル作成後、form_withにジャンルを追加し、@genreでここに追加 プルダウンのレイアウトも変更-->
      <select class="form-select" aria-label="Default select example　border border-round">
        <option selected>-- 選択してください --</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="form-group">
      <label for="item_price">税抜価格</label>
      <%= f.text_field :price, autofocus: true, class: "form-control price" %>
    </div>
    <div class="form-group">
      <label for="item_is_active">販売ステータス</label>

    </div>
    <div class="form-group">
      <%= f.submit "新規登録", class: "btn btn-lg btn-success" %>
    </div>
  <% end %>
</div>