admin/items/newページ
<div class="container">
  <!-- 商品新規登録フォーム-->
  <%= form_with model: @item do |f| %>
    <h3>商品新規登録</h3>
    <div class="form-group ">
      <label for="item-image">商品画像</label>
      <div>
        <%= f.file_field :item_image, placeholder: "ファイルを選択", accept: "image/*", class:"col-6 form-container-file item_image" %>
      </div>
    </div>
    <div class="form-group">
      <label for="item_name">商品名</label>
      <%= f.text_field :name, autofocus: true, placeholder: "商品名", class: "form-control name" %>
    </div>
    <div class="form-group">
      <label for="item_introduction">商品説明</label>
      <%= f.text_area :introduction, autofocus: true, placeholder: "ここに説明文を記述します", class: "form-control introduction" %>
    </div>
    <div class="form-group">
      <label for="item_genre">ジャンル</label>
      <%= f.collection_select :genre_id, @genres, :id, :name, {include_blank: "--選択してください--" } %>
    </div>
    <div class="form-group">
      <label for="item_price">税抜価格</label>
      <%= f.text_field :price, autofocus: true, placeholder: "1000", class: "form-control price" %>
    </div>
    <div class="form-group">
      <label for="item_is_active">販売ステータス</label>
      <%= f.radio_button :is_active, true, checked: true %>
      <%= f.label :is_active, "販売中", value: true %>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, "販売停止中", value: false %>

    </div>
    <div class="form-group">
      <%= f.submit "新規登録", class: "btn btn-lg btn-success btn-default-v3" %>
    </div>
  <% end %>
</div>