<div class="container bg-dark">
  <div class="btn btn-sm btn-secondary row text-light mt-3 ml-5">
    <h4 class="my-0 px-3">管理者ログイン</h4>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row mt-5 bg-success">
      <div class="col-2"></div>
      <div class="col-2">
        <%= f.label :email, class: "my-0 align-middle" %>
      </div>

        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-4 border border-dark rounded ", id: "exampleFormControlInput1", placeholder: "sample@example.com" %>

    </div>

    <div class="form-group row mt-2">
      <div class="col-2"></div>
      <div class="col-2">
        <%= f.label :password, class: "my-0 align-middle" %>
      </div>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-4 border border-dark rounded" %>

    </div>

    <div class="form-group row mt-4">
      <div class="col-4"></div>
      <div class="col-4 px-0">
        <%= f.submit "ログイン", class: 'btn btn-sm btn-primary px-5' %>
      </div>
    </div>
  <% end %>

  <%= render "admin/shared/links" %>
</div>
