<div class="container bg-dark">
  <div class="btn btn-sm btn-secondary row my-3 py-0 px-3 text-dark">
    <h2>管理者ログイン</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field row bg-success">
      <div class="col-2"></div>
      <div class="col-2">
        <%= f.label :email %>
      </div>
      <div class="col-4 bg-secondary">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-2"></div>
      <div class="col-2">
        <%= f.label :password %>
      </div>
      <div class="col-4">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="actions row">
      <div class="col-4"></div>
      <div class="col-4">
        <%= f.submit "ログイン", class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  <% end %>

  <%= render "admin/shared/links" %>
</div>
