admin/customer/editページ
<div class="container">
  <div class="row mt-5">
    <!--<div class="">-->
      <h5><span class="px-3 bg-secondary"><%= @customer_name %>さんの会員情報編集</span></h5>
    <!--</div>-->
  </div>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch, class: "form-group" do |f| %>
    <div class="mt-5 form-group row">
      <div class="col-2">
        会員ID
      </div>
      <div class="col">
        <%= @customer.id %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2">
        氏名
      </div>
      <!--<div class="col">-->
      <%= f.text_field :last_name, autofocus: true, class: "col-2 pl-1" %>
      <%= f.text_field :first_name, autofocus: true, class: "col-2 ml-5 pl-1" %>
      <!--</div>-->
    </div>

    <div class="form-group row">
      <div class="col-2">
        フリガナ
      </div>
      <!--<div class="col">-->
      <%= f.text_field :last_name_kana, autofocus: true, class: "col-2 pl-1" %>
      <%= f.text_field :first_name_kana, autofocus: true, class: "col-2 ml-5 pl-1" %>
      <!--</div>-->
    </div>

    <div class="form-group row">
      <div class="col-2">
        郵便番号
      </div>
      <!--<div class="col">-->
      <%= f.text_field :postal_code, autofocus: true, class: "col-2 pl-1" %>
      <!--</div>-->
    </div>

    <div class="form-group row">
      <div class="col-2">
        住所
      </div>
      <!--<div class="col">-->
      <%= f.text_field :address, autofocus: true, class: "col-6 pl-1" %>
      <!--</div>-->
    </div>

    <div class="form-group row">
      <div class="col-2">
        電話番号
      </div>
      <!--<div class="col">-->
      <%= f.text_field :telephone_number, autofocus: true, class: "col-2 pl-1" %>
      <!--</div>-->
    </div>

    <div class="form-group row">
      <div class="col-2">
        メールアドレス
      </div>
      <!--<div class="col">-->
      <%= f.text_field :email, autofocus: true, class: "col-2 pl-1" %>
      <!--</div>-->
    </div>

    <div class="form-group row">
      <div class="col-2">
        会員ステータス
      </div>
      <div class="col pl-0">
        <%= f.radio_button :is_deleted, false %>
        <%= f.label :is_deleted, "有効", value: false, class: "mr-3 mb-0 border-bottom" %>
        <%= f.radio_button :is_deleted, true %>
        <%= f.label :is_deleted, "退会", value: true, class: "mb-0 border-bottom" %>
      </div>
    </div>

    <div class="form-group row mt-5">
      <%= f.submit "変更を保存", class: "offset-2 px-4 btn btn-success" %>
    </div>
  <% end %>
</div>