<!--admin/customer/indexページ-->
<div class="container">
  <div class="row mt-5">
    <div class="offset-1">
      <h5 class="ml-4"><span class="px-3 bg-secondary text-light">会員一覧</span></h5>
    </div>
  </div>
  <div class="row mt-2">
    <div class="offset-2 col-8">
      <table class="table table-sm  border-bottom">
        <thead class="table-secondary ">
          <tr>
            <th style="width: 10%">会員ID</th>
            <th style="width: 30%">氏名</th>
            <th style="width: 40%">メールアドレス</th>
            <th style="width: 20%">ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customers| %>
          <tbody class="">
            <tr>
              <td><%= customers.id %></td>
              <td>
                <%= link_to admin_customer_path(customers.id), class: "text-dark" do%>
                  <%= customers.last_name %><%= customers.first_name %>
                <% end %>
              </td>
              <td><%= customers.email %></td>
              <td>
                <% if customers.is_deleted %>
                  <strong class="text-secondary font-weight-bold"><%= customers.is_deleted ? "退会" : "有効" %></strong>
                <% else %>
                  <strong class="text-success font-weight-bold"><%= customers.is_deleted ? "退会" : "有効" %></strong>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>