<!--admin/customer/showページ-->
<div class="container">
  <div class="row mt-5">
    <h5><span class="px-3 bg-secondary text-light"><%= @customer_name %>さんの会員詳細</span></h5>
  </div>
  <div class="mt-5 form-group row">
    <div class="col-2">
      会員ID
    </div>
    <div class="col">
      <%= @customer.id %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-2">
      氏名
    </div>
    <div class="col">
      <%= @customer.last_name %>　<%= @customer.first_name %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-2">
      フリガナ
    </div>
    <div class="col">
      <%= @customer.last_name_kana %>　<%= @customer.first_name_kana %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-2">
      郵便番号
    </div>
    <div class="col">
      <%= @customer.postal_code %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-2">
      住所
    </div>
    <div class="col">
      <%= @customer.address %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-2">
      電話番号
    </div>
    <div class="col">
      <%= @customer.telephone_number %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-2">
      メールアドレス
    </div>
    <div class="col">
      <%= @customer.email %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-2">
      会員ステータス
    </div>
    <div class="col">
      <% if @customer.is_deleted %>
        <strong class="text-secondary font-weight-bold"><%= @customer.is_deleted ? "退会" : "有効" %></strong>
      <% else %>
        <strong class="text-success font-weight-bold"><%= @customer.is_deleted ? "退会" : "有効" %></strong>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "offset-2 col-1 btn btn-success" %>
    <%= link_to "注文一覧を見る", admin_path, class: "offset-1 px-3 btn btn-primary" %>
  </div>
</div>