<!--admin/orders/showページ-->
<div class="container-fluid">
  <div class="row mt-3">
    <div class="offset-1">
      <h5><span class="px-3 bg-secondary text-light">注文履歴詳細</span></h5>
    </div>
  </div>
  <div class="row ml-5">
    <div class="col-2">
      <strong>購入者</strong>
    </div>
    <div class="col-2">
      <%= @customer_name %>
    </div>
  </div>
  <div class="row ml-5">
    <div class="col-2">
      <strong>注文日</strong>
    </div>
    <div class="col-2">
      <%= @order.created_at.strftime('%Y/%m/%d') %>
    </div>
  </div>
  <div class="row ml-5">
    <div class="col-2">
      <strong>配送先</strong>
    </div>
    <div class="col-2">
      〒<%= @order.shipping_postal_code.to_s.insert(3, "-") %> <%= @order.shipping_address %><br>
      <%= @order.shipping_name %>
    </div>
  </div>
  <div class="row ml-5">
    <div class="col-2">
      <strong>支払方法</strong>
    </div>
    <div class="col-2">
      <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class="row ml-5 d-flex align-items-center">
    <div class="col-2">
      <strong>注文ステータス</strong>
    </div>
    <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch , class: "col d-flex align-items-center" do |f| %>
      <%= f.select :status, Order.statuses.keys.map{ |k| [I18n.t("enums.order.status.#{k}"), k] } %>
      <%= f.submit "更新", class: "px-1 btn btn-sm btn-success ml-5" %>
    <% end %>
  </div>
  <div class="row mt-4 ml-5">
    <table class="col-7 table table-sm table-dark table-borderless border-top border-bottom border-secondary">
      <thead class="table-secondary text-dark">
        <tr>
          <th style="width: 20%">商品名</th>
          <th style="width: 20%">単価(税込)</th>
          <th style="width: 20%">数量</th>
          <th style="width: 20%">小計</th>
          <th style="width: 20%">制作ステータス</th>
        </tr>
      </thead>
      <% @order.order_details.each do |order_detail| %>
      <tbody class="table-light text-dark">
        <tr>
          <td class="align-middle">
            <%= order_detail.item.name %>
          </td>
          <td class="align-middle">
            <%= order_detail.item.with_tax_price.to_s(:delimited) %>
          </td>
          <td class="align-middle">
            <%= order_detail.amount %>
          </td>
          <td class="align-middle">
            <%= order_detail.subtotal.to_s(:delimited) %>
          </td>
          <td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch , class: "d-flex align-items-center justify-content-around" do |f| %>
              <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |k| [I18n.t("enums.order_detail.making_status.#{k}"), k] } %>
              <%= f.submit "更新", class: "btn btn-sm btn-success px-1" %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <div class="ml-5 mr-5 col-2 align-self-end">
    <table class="table-sm">
      <tbody>
        <tr>
          <th>商品合計</th>
          <td>
            <%= @order_item_total_price.to_s(:delimited) %>円
          </td>
        </tr>
        <tr>
          <th>送料</th>
          <td>
            <%= @order.postage.to_s(:delimited) %>円
          </td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td>
            <strong><%= @order.amount_billed.to_s(:delimited) %>円</strong>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

</div>