<!--admin/genres/indexページ-->
<div class="container-fluid">
  <div class="row mt-4 ml-3">
    <div class="ml-5"><h5 class="px-3 bg-secondary text-light">ジャンル一覧・追加</h5></div>
  </div>


  <!-- ジャンル新規登録 -->
  <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
    <div class="row mt-3 ml-3 form-inline form-group">
      <div class="col-1 pl-0">
        <label>ジャンル名</label>
      </div>
      <%= f.text_field :name, autofocus: true, :placeholder => "ジャンル名", class: "p-0 col-2 border border-dark" %>
      <%= f.submit  "新規登録", class: "col-1 ml-5 px-4 btn btn-success font-weight-bold"%>
    </div>
  <% end %>

  <!-- ジャンル一覧 -->
  <div class="row mt-4 ml-3">
    <div class="col-3 px-0">
      <table class="table table-sm border-top border-bottom ">
        <thead class="table-secondary">
          <tr>
            <th  class="text-center" style="width: 50%">ジャンル</th>
            <th style="width: 50%"></th>
          </tr>
        </thead>
        <% @genres.each do |genres| %>
          <tbody>
            <tr>
              <td>
                <%= genres.name %>
              </td>
              <td class="text-center">
                <%= link_to edit_admin_genre_path(genres.id), class: "btn btn-sm btn-success" do %>
                  編集する
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>