admin/genres/indexページ
<div class="container-fluid bg-secondary">

  <!--フラッシュメッセージ実装-->
  <p id="notice"><%= flash[:notice] %></p>
  <div class="row ">
    <div class="offset-1"><h5>ジャンル一覧・追加</h5></div>

  </div>


  <!-- ジャンル新規登録 -->
  <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
    <div class="row ml-3 mt-3 form-group">
      <div class="form-inline ml-4">
        <%= f.label :name, class: "d-flex align-items-center mr-4" %>
        <%= f.text_field :name, autofocus: true, :placeholder => "ジャンル名", class: "py-0 ml-0 border border-dark" %>
        <%= f.submit  "新規登録", class: "ml-5 px-4 btn btn-success"%>
      </div>
    </div>
  <% end %>

  <!-- ジャンル一覧 -->
  <div class="row ml-3">
    <div class="col-3 mx-2 bg-light">
    <table>
      <thead>
        <th class="">ジャンル</th>
        <th colspan="3"></th>
      </thead>
      <% @genres.each do |genres| %>
        <tbody>
          <th>
            <%= genres.name %>
          </th>
          <th>
            <%= link_to edit_admin_genre_path(genres.id), class: "btn btn-sm btn-success" do %>
              編集する
            <% end %>
          </th>
        </tbody>
      <% end %>
    </table>
    </div>
  </div>
</div>