<!--admin/topページ(注文履歴一覧 #index)-->
<div class="container">
  <div class="row mt-5">
    <h5><span class="px-3 bg-secondary text-light">注文履歴一覧</span></h5>
  </div>

  <div class="row">
    <table class="col table border-bottom">
      <thead class="table-secondary text-dark">
        <th style>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </thead>
      <% @orders.each do |order| %>
        <tbody>
          <tr>
            <td>
              <%= link_to admin_order_path(order.id), class: "text-body" do %>
                <%= order.created_at.strftime('%Y/%m/%d %T') %>
              <% end %>
            </td>
            <td>
              <%= order.customer.last_name %><%= order.customer.first_name %>
            </td>
            <td>
              <% order_total_amount = 0 %>
              <% order.order_details.each do |order_detail| %>
                <% order_total_amount += order_detail.amount %>
              <% end %>
              <%= order_total_amount %>
            </td>
            <td>
              <%= order.status_i18n %>
            </td>
          </tr>
        </tbody>
      <% end %>

    </table>
  </div>
</div>