<div class="container-fluid">
  <!--配送先登録-->
  <div class="row mt-5 ml-3">
    <div class="offset-1">
      <h5><span class="px-3 bg-secondary text-light">配送先登録/一覧</span></h5>
    </div>
  </div>
  <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
    <div class="row mt-4 ml-3 form-group">
      <div class="col-2">郵便番号(ハイフンなし)</div>
      <%= f.text_field :postal_code, autofocus: true, :placeholder => "0000000", class:"col-2 border border-dark mr-5 form-control border border-dark" %>
    </div>
    <div class="row ml-3 form-group">
      <div class="col-2">住所</div>
      <%= f.text_field :address, autofocus: true, :placeholder => "東京都渋谷区代々木新園町0-0", class:"col-4 border border-dark mr-5 form-control border border-dark" %>
    </div>
    <div class="row ml-3 form-group">
      <div class="col-2">宛名</div>
      <%= f.text_field :name, autofocus: true, :placeholder => "令和道子", class:"col-2 border border-dark mr-5 form-control border border-dark" %>
      <%= f.submit "新規登録", class: "offset-2 col-1 px-4 btn btn-success font-weight-bold" %>
    </div>
  <% end%>

  <!--配送先一覧-->
  <div class="row mt-5 mx-3">
    <table class="col-6 table table-dark table-bordered">
      <thead class="table-secondary text-dark">
        <tr>
          <th class=" align-middle" style="width: 15%">郵便番号</th>
          <th class=" align-middle" style="width: 45%">住所</th>
          <th class=" align-middle" style="width: 10%">宛名</th>
          <th style="width: 30%"></th>
        </tr>
      </thead>
      <% @addresses.each do |addresses| %>
        <tbody class="bg-light text-dark">
          <tr>
            <td class="align-middle"><%= addresses.postal_code %></td>
            <td class="align-middle"><%= addresses.address %></td>
            <td class="align-middle"><%= addresses.name %></td>
            <td>
              <%= link_to "編集する", edit_address_path(addresses.id), class: "ml-2 btn btn-sm btn-success font-weight-bold" %>
              <%= link_to "削除する", address_path(addresses.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "ml-2 btn btn-sm btn-danger font-weight-bold" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

</div>