<div class="container">
  <div class="row">
    <div class="offset-1 my-4">
      <h5><span class="px-3 bg-secondary text-light">新規会員登録</span></h5>
    </div>
  </div>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-group row">
      <%= f.label :name, class: "col-2" %>
      <div class="col-4">
        <div class="row">
          <div class="offset-1 col-2 my-auto px-0">
            <p class="mb-0">(姓)</p>
          </div>
          <%= f.text_field :last_name, autofocus: true, placeholder: "令和", class: "col-9 pl-0" %>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="offset-1 col-2 my-auto px-0">
            <p class="mb-0">(名)</p>
          </div>
          <%= f.text_field :first_name, autofocus: true, placeholder: "道子", class: "col-9 pl-0" %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :name_kana, class: "col-2" %>
      <div class="col-4">
        <div class="row">
          <div class="offset-1 col-2 my-auto px-0">
            <p class="mb-0">(セイ)</p>
          </div>
          <%= f.text_field :last_name_kana, autofocus: true, placeholder: "レイワ", class: "col-9 pl-0" %>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="offset-1 col-2 my-auto px-0">
            <p class="mb-0">(メイ)</p>
          </div>
          <%= f.text_field :first_name_kana, autofocus: true, placeholder: "ミチコ", class: "col-9 pl-0" %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :email, class: "col-3" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-3 pl-0" %>
    </div>

    <div class="form-group row">
      <%= f.label :postal_code, class: "col-3" %>
      <%= f.text_field :postal_code, autofocus: true, placeholder: "0000000", class: "col-3 pl-0" %>
    </div>

    <div class="form-group row">
      <%= f.label :address, class: "col-3" %>
      <%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木新園町0-0", class: "col-3" %>
    </div>

    <div class="form-group row">
      <%= f.label :telephone_number, class: "col-3" %>
      <%= f.text_field :telephone_number, autofocus: true, placeholder: "00000000000", class: "col-3  pl-0" %>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", autofocus: true, class: "col-3  pl-0" %>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, class: "col-3" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", autofocus: true, class: "col-3  pl-0" %>
    </div>

    <div class="form-group row">
      <div class="offset-3 col-3 px-0">
        <%= f.submit "新規登録", class: "px-5 btn btn-sm btn-success" %>
      </div>
    </div>
  <% end %>

  <div class="mt-4 row">
    <div class="offset-1">
      <p class="mt-3 mx-3 mb-0 px-3 bg-secondary text-light">既に登録済みの方</p>
    </div>
  </div>
  <div class="mt-3 row">
    <div class="offset-1">
      <p class="ml-5">
        <%= render "public/shared/links" %>
        からログインしてください。
      </p>
    </div>
  </div>

</div>