<div class="container-fluid">
  <div class="row my-4">
    <div class="offset-2">
      <h5><span class="px-3 bg-secondary text-light">注文履歴一覧</span></h5>
    </div>
  </div>

  <div class="row justify-content-center">
    <table class="col-10 table table-dark table-bordered">
      <thead class="table-secondary text-dark">
        <tr>
          <th class="align-middle" style="width: 20%">注文日</th>
          <th class="align-middle" style="width: 30%">配送先</th>
          <th class="align-middle" style="width: 15%">注文商品</th>
          <th class="align-middle" style="width: 10%">支払金額</th>
          <th class="align-middle" style="width: 10%">ステータス</th>
          <th class="align-middle" style="width: 10%">注文詳細</th>
        </tr>
      </thead>
      <% @orders.each do |order|%>
      <tbody class="table-light text-dark">
        <tr>
          <td class="align-middle"><%= order.created_at.strftime('%Y/%-m/%-d') %></td>
          <td class="align-middle">
            〒<%= order.shipping_postal_code %><br>
            <%= order.shipping_address %><br>
            <%= order.shipping_name %>
          </td>
          <td class="align-middle">
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %><br>
            <% end %>
          </td>
          <td class="align-middle">
            <%= order.amount_billed.to_s(:delimited) %>円
          </td>
          <td class="align-middle">
            <%= order.status_i18n %>
          </td>
          <td class="align-middle text-center">
            <%= link_to "表示する", order_path(order.id), class: "btn btn-sm btn-primary font-weight-bold px-3" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>