<div class="container">
  <h2>ログイン</h2>

  <p>会員の方はこちらからログイン</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field row">
      <div class="col-2">
        <%= f.label :email %>
      </div>
      <div class="col-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-2">
        <%= f.label :password %>
      </div>
      <div class="col-2">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="actions row">
      <div class="col-2"></div>
      <div class="col-3">
        <%= f.submit "ログイン",class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  <% end %>
  <div class="btn btn-sm btn-secondary">会員登録がお済でない方</div>
    <p>
      <%= render "public/shared/links" %>
      から新規登録してください。
    </p>
</div>