public/showページ
<div class="container-fluid">
  <div class="row mx-3 mt-5">
    <div class="col-2 bg-secondary">
      <p>ジャンル検索</p>
    </div>
    <!--商品詳細-->
    <div class="col-9 mx-3 bg-secondary">
      <div class="row mt-3">
        <!--商品画像-->
        <div class="col-4 bg-light">
          <%= image_tag @item.get_item_image(256,144), class: "d-block mx-auto" %>
        </div>
        <!--商品説明-->
        <div class="col-7 ml-3">
          <div class="row">
            <h2><%= @item.name %></h2>
          </div>
          <div class="row">
            <p><%= @item.introduction%></p>
          </div>
          <div class="row">
            <h4><strong>¥<%= @item.with_tax_price.to_s(:delimited) %></strong></h4>
            <p>(税込)</p><!--税込は下付き文字-->
          </div>
          <div class="row">
             <%= form_with model: @cart_item , url: cart_items_path, method: :post do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <!--個数選択-->
              <%= f.select :amount, *[1..3], autofocus: true, include_blank: "個数選択"  %>
              <%= f.submit "カートに入れる", class: "" %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>