<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <header>
      <nav>
        <span>LOGO</span>
        <ul>
          <!-- admin サインイン -->
          <% if admin_signed_in? %>
            商品一覧
            会員一覧
            注文一覧
            ジャンル一覧
            <%= link_to destroy_admin_session_path, method: :delete do %>
              ログアウト
            <% end %>

          <!-- customer サインイン -->
          <!--% elsif customer_sign_in? %>-->
            <!--マイページ-->
            <!--商品一覧-->
            <!--カート-->
            <!--ログアウト-->
          <!-- サインアウト -->
          <% else %>
            About
            商品一覧
            新規登録
            ログイン
          <% end %>
        </ul>
      </nav>
    </header>
    <!-- メイン -->
    <main>
      <%= yield %>
    </main>
    <!-- フッター -->
    <footer>

    </footer>
  </body>
</html>
